<div class="new_resgistration">
    <h2>New User Registration</h2>
    <div class="data">
        <ng-container *ngFor="let new_registered_user of new_registered_users">
            <div class="user-card">
                <div class="user-info">
                    <img src='http://placehold.it/32x32' alt="User Image" class="user-image">
                    <div class="active-status-dot" [style.background-color]="new_registered_user.isActive ? '#85c836' : '#0063ff'"></div>
                </div>
                <div class="user-details">
                    <span class="user-name">{{new_registered_user.name}}</span><br>
                    <span class="user-country">{{new_registered_user.country}}</span>
                </div>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="new_registered_user.progress"
                    [style.backgroundColor]="(new_registered_user.progress >= 0 && new_registered_user.progress <= 20) ? 'red' : (new_registered_user.progress > 20 && new_registered_user.progress <= 40) ? 'brown' : (new_registered_user.progress > 40 && new_registered_user.progress <= 60) ? 'rgb(213 234 99)' : (new_registered_user.progress > 60 && new_registered_user.progress <= 80) ? 'orange' : 'green' ">
                    </div>
                    <div class="percentage_box">
                        <span class="percentage"  [style.color]="(new_registered_user.progress >= 0 && new_registered_user.progress <= 20) ? 'red' : (new_registered_user.progress > 20 && new_registered_user.progress <= 40) ? 'brown' : (new_registered_user.progress > 40 && new_registered_user.progress <= 60) ? 'rgb(213 234 99)' : (new_registered_user.progress > 60 && new_registered_user.progress <= 80) ? 'orange' : 'green' ">{{new_registered_user.progress}} %</span>
                    </div>
                </div>
                <div>
                    <button class="action-button">More</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>