<div class="recent_order">
    <h2>Recent Orders</h2>
    <div class="data">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="Customer">
                <th mat-header-cell *matHeaderCellDef> Customer </th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let element">{{element.product}}</td>
            </ng-container>
            <ng-container matColumnDef="Deliver Date">
                <th mat-header-cell *matHeaderCellDef> Deliver Date </th>
                <td mat-cell *matCellDef="let element">{{element.delivery_date | date:'dd, MMM yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" class="payment_status">
                    <button class="status_button" [style.background-color]="element.status === 'Paid' ? '#53b853' : (element.status === 'Pending' ? '#7a67c6' : '#ae5b5b')">{{element.status}}</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="Tracking No #">
                <th mat-header-cell *matHeaderCellDef> Tracking No # </th>
                <td mat-cell *matCellDef="let element">{{element.tracking_no}}</td>
            </ng-container>
            <ng-container matColumnDef="shipping">
                <th mat-header-cell *matHeaderCellDef> shipping </th>
                <td mat-cell *matCellDef="let element">{{element.shipping ? 'Yes' : 'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="close">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><mat-icon>close</mat-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row,columns:displayColumns"></tr>
        </table>
    </div>
</div>